<div class="confidence slider-inner component-inner" role="region" aria-label="{{_globals._components._confidenceSlider.ariaRegion}}" {{#if _globals._components._confidenceSlider.ariaRegion}}tabindex="0"{{/if}}>
    {{> component this}}
    <div class="slider-widget component-widget {{#unless _isEnabled}} disabled {{#if _isComplete}} complete{{/if}}{{/unless}}">
        <div class="slider-holder clearfix">
            <div class="slider-scale-labels">
                <div class="slider-scale-start" tabindex="0" role="region">{{labelStart}}</div>
                <div class="slider-scale-end" tabindex="0" role="region">{{labelEnd}}</div>
            </div>
            <div class="slider-scale-numbers clearfix">
                {{#each _items}}
                    <button tabindex="0" role="button" class="base slider-scale-number" data-id="{{value}}">{{value}}</button>
                {{/each}}
            </div>
            <div class="slider-scaler-wrapper clearfix">
               <div class="slider-scaler component-item-color">
                  <div class="slider-modelranges"></div>
                  <div class="slider-markers"></div>
                  <div class="slider-answer component-item-color component-item-text-color"></div>
                  <div class="slider-scale-marker component-item-color component-item-text-color a11y-ignore" aria-hidden="true" tabindex="-1"></div>
              </div>
          </div>

            <div class="slider-background">
                <div class="slider-item component-item {{#unless _isEnabled}}{{#if _isCorrect}}correct{{else}}incorrect{{/if}}{{/unless}}">
                  <input type="range" name="" value="{{#if _userAnswer}}{{_userAnswer}}{{else}}{{_scaleStart}}{{/if}}" min="{{_scaleStart}}" max="{{_scaleEnd}}" {{#unless _isEnabled}} disabled{{/unless}}>
                </div>
            </div>
        </div>
        <div class="buttons">
        </div>
    </div>
</div>
